<nav md-tab-nav-bar>
    <a md-tab-link routerLinkActive >
      Główna
    </a>
    <a md-tab-link routerLinkActive>
      Goście
    </a>
    <a md-tab-link routerLinkActive>
      Sprawy
    </a>
</nav>
  <md-card>
<md-card-title>
    Evento in:
  </md-card-title>
<md-card-content>
Chiesa di misericordia Dio en la citta Jawor
</md-card-content>
  </md-card>

  <md-card>
<md-card-title>
    Evento tra:
  </md-card-title>
<md-card-content>
Rimane solo seis meses. Sei preparato?
</md-card-content>
  </md-card>
<app-guests-list></app-guests-list>
